name: Check for broken links

on:
  workflow_dispatch:
    inputs:
      site:
        required: true
        type: string
        default: https://superdb.org/

jobs:
  broken-linkcheck:
    runs-on: ubuntu-latest
    steps:
      - name: Check for broken links
        uses: ruzickap/action-my-broken-link-checker@v2
        with:
          url: ${{ inputs.site }}
          cmd_params:
            --timeout 300
            --max-connections=5
            --max-connections-per-host=2
            --rate-limit=10
            --buffer-size=16384
            --header="Accept-Encoding:zstd,br,gzip,deflate"
            --header="User-Agent:Mozilla/5.0"
            --exclude x.com
            --exclude https://github.com/lz4/lz4/blob/master/doc/lz4_Block_format.md
            --exclude https://github.com/jqlang/jq/wiki/jq-Language-Description
            --exclude https://github.com/google/zetasql/blob/master/docs/pipe-syntax.md
            --exclude https://specifications.freedesktop.org
            --exclude https://dl.acm.org/doi/pdf/10.1145/984549.984551
            --exclude https://www.researchgate.net/publication/221325979_Union_Types_for_Semistructured_Data
