name: Check for broken links

on:
  workflow_dispatch:
    inputs:
      site:
        required: true
        type: string
        default: https://jocular-choux-3cf6d8.netlify.app/

jobs:
  broken-linkcheck:
    runs-on: ubuntu-latest
    steps:
      - name: Check for broken links
        uses: ruzickap/action-my-broken-link-checker@v2
        with:
          url: ${{ inputs.site }}
          cmd_params:
            --verbose
            --timeout 300
            --max-connections=5
            --max-connections-per-host=2
            --rate-limit=10
            --buffer-size=16384
            --header="User-Agent:Mozilla/5.0"
            --exclude linkedin.com
            --exclude github.com.*#
