name: Check for broken links

on:
  workflow_dispatch:
    inputs:
      site:
        required: true
        type: string
        default: https://superdb.org/

jobs:
  broken-linkcheck:
    runs-on: ubuntu-latest
    steps:
      - name: Check for broken links
        uses: ruzickap/action-my-broken-link-checker@v2
        with:
          url: ${{ inputs.site }}
          cmd_params:
            --verbose
            --timeout 300
            --max-connections=5
            --max-connections-per-host=2
            --rate-limit=10
            --buffer-size=16384
            --header="Accept-Encoding:zstd,br,gzip,deflate"
            --header="User-Agent:Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            --exclude github.com.*#
