name: Check for broken links

on:
  workflow_dispatch:
    inputs:
      site:
        required: true
        type: string
        default: https://superdb.org/

# Link checker config details
# ===========================
#
# --buffer-size=16384
#
#   Avoids "error when reading response headers: small read buffer. Increase ReadBufferSize."
#
# --exclude github.com.*#
#
#   Due to "not found" failures when crawling GitHub fragment identifiers
#   dynamically generated via JavaScript. See https://github.com/raviqqe/muffet/issues/144.
#   Links covered by this as of November 19, 2026:
#   - https://github.com/google/zetasql/blob/master/docs/pipe-syntax.md#pipe-operator-semantics
#   - https://github.com/jqlang/jq/wiki/jq-Language-Description#the-jq-language
# 
# --exclude https://dl.acm.org/doi/pdf/10.1145/984549.984551
# --exclude https://www.researchgate.net/publication/221325979_Union_Types_for_Semistructured_Data
#
#   Due to HTTP 403 errors when crawled. Academic sites are notorious for
#   blocking crawlers as is their right so conventional wisdom is to exclude.
#
# --exclude https://github.com/lz4/lz4/blob/master/doc/lz4_Block_format.md
#
#   Due to intermittent HTTP 429 errors when crawled. May be due to the same
#   topic discussed in https://github.com/orgs/community/discussions/157887
#   though it's not clear why our other github.com links consistently check ok.

jobs:
  broken-linkcheck:
    runs-on: ubuntu-latest
    steps:
      - name: Check for broken links
        uses: ruzickap/action-my-broken-link-checker@v2
        with:
          url: ${{ inputs.site }}
          cmd_params:
            --verbose
            --max-connections=5
            --max-connections-per-host=2
            --rate-limit=10
            --buffer-size=16384
            --header="Accept-Encoding:zstd,br,gzip,deflate"
            --header="User-Agent:Mozilla/5.0"
            --exclude github.com.*#
            --exclude https://dl.acm.org/doi/pdf/10.1145/984549.984551
            --exclude https://www.researchgate.net/publication/221325979_Union_Types_for_Semistructured_Data
            --exclude https://github.com/lz4/lz4/blob/master/doc/lz4_Block_format.md
